@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|IBM+Plex+Serif|Montserrat|Montserrat+Alternates&display=swap');
* {
    box-sizing: border-box;
}
body {
    padding-left: 20%;
    padding-right: 20%;
    background: linear-gradient(170deg, rgba(202, 166, 244, 0.8) 20%, rgba(202, 166, 244, 0.5) 20%, rgba(202, 166, 244, 0.5) 35%, rgba(142, 122, 169, 0.6) 35%, rgba(196, 174, 226, 0.8) 45%, rgba(241, 234, 250, 0.502) 45%, rgba(238, 235, 241, 0.8) 75%, rgba(163, 148, 197, 0.5) 75%), linear-gradient(45deg, rgba(230, 228, 235, 0.8) 0%, rgba(202, 166, 244, 0.8) 50%, rgba(152, 144, 172, 0.8) 50%, rgba(93, 83, 107, 0.8) 100%) #5b4f66;
}
.date{
    clear:both;
}
div{
    margin: 2em 0;
}
caption{
    text-align: left; 
}
ul{
    margin: -1em 0 0 0;
}
table{
    border-spacing: 0;
}
table, td, th{
    border: 1px solid black;
}
h1 {
    font-family:"Montserrat Alternates";
    font-size: 36px;
    color: #2b162b;
}
a {
    font-family: "Alegreya SC";
}
a:link {
    color: antiquewhite;
}
a:visited {
    color: black;
}
a:hover {
    color: red;
}
a:active{
    color: aliceblue;
}
span, div>p, div label:first-of-type, caption, th, button  {
    font-family: "Noto Serif";
    color: #2b162b;
    font-weight: bolder;
    font-size: 16px;

}
p, input, select, li, .checkbox label, .radio label, td {
    font-family: "Montserrat";
    font-size: 1.1em;
}
[placeholder*="Введите"] {
    font-style: italic;
}
th {
    font-size: 1,3em;
}
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
img {
    float:left;
    margin: 0 2em 2em 0;
    border: 1.5px solid rgb(125, 31, 193);
    -webkit-animation: fadeIn 1.2s;
}
button {
    transition: all 1s;
    padding:5px 5px;
    font-size: 1em;
    border-color: #2b162b;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
[type="text"], [type="number"]{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
[type="date"] {
    border-radius: 5px;
}
.checkbox input, .radio input {
    display: none;
}
.checkbox label span, .radio label span {
    margin-right: 6px;
    font-family: "Montserrat";
}
.checkbox span::before, .radio span::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(58, 13, 97);
    border-radius: 4px;
    margin-right: 2px;
}
.checkbox input:checked + span::before {
    background: linear-gradient(45deg, white 40%, purple, grey);
}
.radio input:checked + span::before {
    background: white;
    border-radius: 10px;
}